<?xml version="1.0"?>

<model>
    <name>conference1</name>
    <version>1.0</version>
    <sdf version="1.4">conference1.sdf</sdf>

    <author>
        <name>Sang</name>
        <email>sanganak@chironix.com</email>
    </author>

    <description>
        conference1 Type 1
    </description>
</model>
